<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true">

        <intercept-url pattern="/allAuthors**" access="hasRole('ADMIN')" />
        <intercept-url pattern="/all**" access="hasRole('ADMIN')" />
        <intercept-url pattern="/postComment**" access="hasRole('ADMIN')" />
        <intercept-url pattern="classpath:resources/message.properties" access="permitAll"/>

        <form-login
                login-page="/login"
                login-processing-url="/j_spring_security_check"
                default-target-url="/all"
                authentication-failure-url="/login?error"
                username-parameter="username"
                password-parameter="password"
        />
        <logout delete-cookies="JSESSIONID" logout-url="/j_spring_security_logout" invalidate-session="true"
                logout-success-url="/login?logout"/>
        <!-- enable csrf protection -->
        <csrf/>
    </http>

    <!-- Select users and user_roles from database -->
    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="md5"/>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query=
                                       "select login,password,1 as ENABLED from users where login=?"
                               authorities-by-username-query=
                                       "select U.login, UR.role_name from users U
                                       LEFT JOIN roles UR on UR.user_id=U.user_id
                                       where U.login=?" />
        </authentication-provider>
    </authentication-manager>

</beans:beans>
